.applytitle {
  text-align: center;
  color: #ece9e7;
  margin-top: 40px;
}

.applysubtitle {
  text-align: center;
  color: #ece9e7;
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 1.2rem;
}

.formtitle {
  text-align: center;
  color: #ece9e7;
  margin-bottom: 12px;
}

#applicationForm {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}



#jobRef {
  color: #ece9e7;
  background: linear-gradient(140deg, #b356f152, #c6e7a32d);
  width: 100%;
  margin-bottom: 15px;
} 

#jobRef option {
  color: #ece9e7;
  background: #6c00b452;
}

#state {
  color: #ece9e7;
  background: linear-gradient(140deg, #b356f152, #c6e7a32d);
}

#state option {
  color: #ece9e7;
  background: #6c00b452;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  font-size: 1rem;
  resize: vertical;
  color: #491d67;
  background-color: #ffffff;
}

button {
  display: block;
  margin: 0 auto;
}

#name,
#location,
#address,
#contactinfo,
#dobgender {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

#name,
#location,
#address,
#contactinfo,
#dobgender > * {
  flex: 1;
}

.textbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}
