main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  min-height: 100vh;
  min-width: 80vw;
}

.logo {
  max-width: 50px;
}
