/* Collapsible Section Styling */
.collapsible-wrapper {
    margin-bottom: 20px;
    width: 100%;
}

.collapsible-toggle {
    display: none;
}

.collapsible-label {
    display: block;
    background: linear-gradient(180deg,
            rgba(145, 86, 241, 0.5),
            rgba(212, 163, 226, 0.5));
    color: white;
    padding: 14px 18px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.collapsible-toggle:checked+.collapsible-label {
    background: linear-gradient(180deg,
            rgba(145, 86, 241, 0.5),
            rgba(212, 163, 226, 0.5));
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
    background: #f5f5f5;
    padding: 0 15px;
    border-radius: 0 0 6px 6px;
}

.collapsible-toggle:checked+.collapsible-label+.collapsible-content {
    max-height: 2000px;
    padding: 15px;
}

.collapse-title, .collapse-result {
    color: black;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th {
    background: linear-gradient(180deg,
            rgba(145, 86, 241, 0.5),
            rgba(212, 163, 226, 0.5));
    color: white;
    text-align: left;
    padding: 10px;
    
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: black;
}

table tr:nth-child(even) {
      background: linear-gradient(
    180deg,
    rgba(166, 120, 240, 0.6),
    rgba(215, 173, 226, 0.6)
  );
}

table tr:hover {
    background-color: #e0e0e0;
}

/* Button Styling */
button {
    background: linear-gradient(180deg,
            rgba(145, 86, 241, 0.7),
            rgba(212, 163, 226, 0.7));
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background .3s ease;
}