/* Collapsible Section Styling */
.collapsible-wrapper {
  margin-top: 12px;
  width: 100%;
}

.collapsible-toggle {
  display: none;
}

.collapsible-label {
  display: block;
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
  color: #f9f8f8;
  padding: 14px 18px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 24px;
  font-weight: bold;
}

.collapsible-toggle:checked + .collapsible-label {
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  background: #f5f5f5;
  border-radius: 12px;
}

.collapsible-toggle:checked + .collapsible-label + .collapsible-content {
  max-height: 2000px;
  padding: 15px;
}

.collapse-title,
.collapse-result {
  color: rgb(37, 37, 42);
}

/* Styling for displaying status of EOIs in table */

select option[value=""],
.status-new {
  color: #fc0;
  font-weight: bold;
}

select option[value="Reviewed"],
.status-reviewed {
  color: #34c759;
}

select option[value="Rejected"],
.status-rejected {
  color: #ff3b30;
  font-weight: bold;
}

select option[value="Shortlisted"],
.status-shortlisted {
  color: #5856d6;
  font-weight: bold;
}

input {
  background: linear-gradient(140deg, #aa3ef352, #e7a3d02d);
  color: rgb(37, 37, 42);
}

#collapse-option {
  background: linear-gradient(140deg, #aa3ef352, #e7a3d02d);
  color: rgb(37, 37, 42);
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 10px;
}

table th {
  background: #863db3;
  color: #fcfcfc;
  text-align: left;
  padding: 8px;
}

table td {
  padding: 8px;
  color: rgb(37, 37, 42);
}

table tr:nth-child(even) {
  background: hsla(89, 59%, 77%, 0.4);
}

table tr:hover {
  background-color: #e0e0e0;
}

/* Styling previous / next page button */
#prev-page,
#next-page {
  margin-top: 24px;
  background: linear-gradient(45deg, #9156f1, #9156f1);
  border: none;
  float: right;
}
#prev-page:hover,
#next-page:hover {
  background: linear-gradient(45deg, #d4a3e2, #9156f1);
  box-shadow: 5px 0px 50px #9156f1ab, -5px 0px 50px #d4a3e2a5;
}
