* {
  font-family: "DM Sans", Tahoma, Geneva, Verdana, sans-serif, "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif, sans-serif;
  color: #ece9e7;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}

body {
  background: linear-gradient(180deg, rgb(32, 30, 75), rgb(20, 19, 33));
}

h1,
h2,
h3,
h4,
h5,
button,
a.primary,
a.secondary,
li a {
  font-family: "Cal Sans", Tahoma, Geneva, Verdana, sans-serif, "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif, sans-serif;
}

h1 {
  font-size: 44px;
}
h2 {
  font-size: 36px;
  color: #c6e7a3;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
  color: #c6e7a3;
}
p {
  font-size: 20px;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #ece9e7;
  box-shadow: 0px 0px 20px #09031067;
}

footer {
  background: linear-gradient(
    160deg,
    rgba(145, 86, 241, 0.5),
    rgba(32, 30, 75, 0.5)
  );
  padding: 48px;
  border-top: 1px solid #ece9e7;
}

main {
  margin: 48px;
  margin-top: 24px;
}

section {
  margin-bottom: 48px;
}

.input_with_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  margin-bottom: 24px;
}

.input_with_button input {
  flex: 1;
}

input,
select {
  border-radius: 100px;
  border: 1px solid #ece9e7;
  background: linear-gradient(140deg, #b356f152, #c6e7a32d);
  padding: 12px 24px;
  font-size: 16px;
  margin: 0px;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: -10px -5px 50px #9156f190, 10px 5px 50px #c6e7a3cd;
}

nav {
  align-items: center;
  justify-content: space-around;
}

li {
  display: inline-block;
  padding: 0px 20px;
  background: none;
}

a {
  text-decoration: none;
  background: none;
}

li a:hover,
footer a:hover {
  transition: all 0.3s ease;
  background: none;
  color: #c6e7a3;
}

button,
a.primary,
a.secondary {
  border-radius: 50px;
  padding: 12px 24px;
  cursor: pointer;
  backdrop-filter: blur(12px);
  font-size: large;

  text-align: center;
}

.button_row {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

button.primary,
a.primary {
  background: linear-gradient(45deg, #9156f1, #9156f1);
  border: none;
}

button.primary:hover,
a.primary:hover {
  background: linear-gradient(45deg, #d4a3e2, #9156f1);
  box-shadow: 5px 0px 50px #9156f1ab, -5px 0px 50px #d4a3e2a5;
}

button.secondary,
a.secondary {
  background: rgba(198, 231, 163, 0.3);
  border: 1px solid #c6e7a3;
}

button.secondary:hover,
a.secondary:hover {
  background: #c6e7a3;
  box-shadow: 0px 0px 50px #c6e7a3a7;
}

button:hover,
.number:hover,
.card:hover,
a.primary:hover,
a.secondary:hover {
  transform: scale(1.05);
}

.left_aligned,
.right_aligned,
.center_aligned {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 50vw;
  padding: 24px 32px;
  flex: 1;
}

.right_aligned {
  text-align: right;
  margin-left: auto;
  align-items: flex-end;
}
.center_aligned {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  position: relative;
  border: 1px solid #ece9e7;
  box-shadow: 0px 12px 100px #090310ad;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
  flex: 1;
  height: 400px;
  min-width: 300px;
  flex-shrink: 1;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: blur(4px);
}

.card_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: linear-gradient(180deg, #c6e7a300, #312449c4, #392845);
}

.card_content img {
  height: 50%;
  width: 50%;
}

.number {
  background: linear-gradient(60deg, rgb(145, 86, 241), rgb(212, 163, 226));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  box-shadow: 10px 10px 50px #9156f161, -10px 0px 50px #d4a3e298;
}

.number h1 {
  font-size: 64px;
}

.content_background {
  display: flex;
  background: linear-gradient(50deg, #943edb66, #c6e7a352);
  border: 1px solid #ece9e7;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 12px 100px #090310ad;
  align-items: flex-start;
}

#back {
  position: fixed;
  z-index: 9;
  bottom: 24px;
  right: 24px;
  width: 70px;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.achievement {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  min-width: 300px;
  flex-wrap: wrap;
  border: 1px solid #ece9e7;
  border-radius: 100px;
  background: linear-gradient(160deg, #9e56f100, #d08de24e);
  padding: 24px 40px;
  box-shadow: 0px 12px 100px #090310ad;
}

.hidden {
  display: none;
}
