* {
  font-family: "outfit", Tahoma, Geneva, Verdana, sans-serif, "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif, sans-serif;
  color: #ece9e7;
  margin: 0px;
  box-sizing: border-box;
  padding: 0;
  font-size: 20px;
}

h1 {
  font-family: "Cal Sans", Tahoma, Geneva, Verdana, sans-serif, "Gill Sans MT",
    Calibri, "Trebuchet MS", sans-serif, sans-serif;
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}

header {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* background-color: #9156f1; */
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
  backdrop-filter: blur(12px);
}

body {
  background: linear-gradient(180deg, rgb(32, 30, 75), rgb(20, 19, 33));
}

footer {
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(32, 30, 75, 0.5)
  );
  padding: 48px;
}

.content {
  margin: 48px;
}

section {
  margin-top: 48px;
  margin-bottom: 48px;
}

section > * {
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav_bar {
  background: none;
  list-style: none;
  li {
    display: inline-block;
    padding: 0px 20px;
    background: none;
  }
}

.nav_bar li a:hover {
  transition: all 0.3s;
  background: none;
  color: #d4a3e2;
}

button {
  font-weight: 600;
  font-size: large;
  background: linear-gradient(45deg, #9156f1, #9156f1);
  border: none;
  border-color: #d4a3e2;
  border-radius: 100px;
  padding: 12px 24px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(45deg, #d4a3e2, #9156f1);
  box-shadow: 10px 10px 50px #9156f1, -10px 0px 50px #d4a3e2;
}

.nav_bar li a {
  text-decoration: none;
  background: none;
  color: #ece9e7;
}

.intro_title {
  text-align: left;
  max-width: 50%;
  background: linear-gradient(
    75deg,
    rgba(145, 86, 241, 0.2),
    rgba(212, 163, 226, 0.2)
  );
  padding: 48px;
  border-radius: 48px;
}

.client_title {
  text-align: left;
  max-width: 40%;
}

.journey_title {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

.buttons {
  padding: 12px;
  gap: 12px;
  display: flex;
}

button.secondary {
  background: none;
  border: 2px solid;
  font-weight: 300;
}

p {
  font-size: 20px;
}

.client {
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 24px;
}

.card {
  position: relative;
  box-shadow: 10px 10px 50px #9156f144, -10px 0px 50px #d4a3e244;
  border-radius: 24px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0.5),
    rgba(212, 163, 226, 0.5)
  );
  /* backdrop-filter: blur(12px); */
  height: 500px;
  flex: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card_content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  flex-direction: column;

  gap: 24px;
  background: linear-gradient(
    180deg,
    rgba(145, 86, 241, 0),
    rgba(35, 25, 51, 1)
  );
  backdrop-filter: blur(2px);
}

.number {
  background: linear-gradient(60deg, rgb(145, 86, 241), rgb(212, 163, 226));
  border-radius: 100%;
  display: flex;
  padding: 12px 32px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  box-shadow: 10px 10px 50px #9156f144, -10px 0px 50px #d4a3e244;
}

.vision_column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
}

.vision_content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.vision_title {
  margin: 64px;
  text-align: right;
  width: 50%;
  margin-left: auto;
}

.back {
  position: fixed;
  z-index: 9;
  bottom: 24px;
  right: 24px;
}

a {
  text-decoration: none;
}
